<div class="bar">
  <div class="left">
    {{ i18n "trademark-with-link" | markdownify }} | <a href="https://kde.org/community/whatiskde/impressum">{{ i18n "legal" }}</a> | {{ i18n "report-bug" | markdownify }}
  </div>
  
  <!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(["setDomains", ["*.timeline.kde.org"]]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="https://stats.kde.org/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', '18']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img alt="" src="https://stats.kde.org/piwik.php?idsite=18" style="border:0;"/></p></noscript>
  <!-- End Piwik Code -->
  
  <div class="right">
    <div class="langbar">
      {{- partial "langbar.html" . -}}
    </div>
    <div class="kSocialLinks">
      <a class="shareTwitter" href="https://twitter.com/intent/tweet?text=KDE%20{{ .Scratch.Get "years" }}%20Years!&hashtags=kde,kde{{ .Scratch.Get "years" }}years" data-size="small">{{ i18n "tweet" }}</a>
    </div>
  </div>
</div>
