<meta charset="utf-8">
<title>{{ i18n "title" }}</title>
<meta name="description" content="{{ i18n "description" . }}">
<meta property="og:title" content="{{ i18n "description" . }}">
<meta property="og:type" content="article">
<meta property="og:url" content="https://kde.org">
<meta name="author" content="Aracele Torres, Camila Ayres, Molly White (original wikimedia-timeline creator)">
<meta name="author" content="{{ i18n "translated-by" }} {{ i18n "YOUR_NAMES" }}">
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
<!--
<meta name="author" content="Spanish Translated by Victorhck and Eloy Cuadra">
<meta name="author" content="Chinese Translated by Leslie Zhai">
-->

{{ $manifest := getJSON "https://cdn.kde.org/aether-devel/version/manifest.json?cache_force=1" }}
<link rel="stylesheet" href="https://cdn.kde.org/{{ index $manifest "aether-devel/version/bootstrap.css" }}">
<script src="https://cdn.kde.org/{{ index $manifest "aether-devel/version/bootstrap.js" }}" defer=""></script>

<link rel="shortcut icon" type="image/png" href="/icons/kde-logo-white-blue-128x128.png" data-original-href="/icons/kde-logo-white-blue-128x128.png">
<link rel="stylesheet" href="/css/main.css">
<script src="/js/main.js"></script>
